{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% block 'head' %} {% endblock %}
    <title>{% block 'title' %} {% endblock %}</title>
</head>
<body>

    <nav class="navbar navbar-dark bg-dark">
        <a class=navbar-brand href="{% url 'home' %}">Teste</a>
        {% if logged %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                Register book
            </button>
            <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
        {% endif %}

    </nav>

    {% if logged %}
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Registering Book</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'register_book'%}" method="POST"> {% csrf_token%}
                    <table>
                        {{form.as_table}}
                    </table>
                    <input type="submit" class="btn btn-success" value="Register">
                </form>
            </div>
          </div>
        </div>
    </div>
    {% endif %}

    {% block 'content' %} {% endblock %}
    <script src="{% static 'javascript/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'javascript/bootstrap.bundle.min.js' %}"></script>
</body>
</html>